.hero {
  width: 100vw;

  background-color: var(--peach);
  color: var(--white);

  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hero-text {
  padding: 80px 30px 0px 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: relative;
}

.hero-text h2 {
  font-weight: 500;
  font-size: 32px;
}

.hero-text p {
  font-weight: 300;
}

.button-hero {
  padding: 15px 30px;
  border-radius: 8px;
  width: 152px;
  font-weight: 500;
}

.hero-oval {
  position: absolute;
  width: 640px;
  height: 640px;
  left: 0;
  /* top: 100px; */

  background: linear-gradient(
    90deg,
    rgba(93, 2, 2, 0.0001) 0%,
    rgba(93, 2, 2, 0.497569) 100%
  );
  mix-blend-mode: normal;
  opacity: 0.31;
  transform: matrix(0, -1, -1, 0, 0, 0);

  border-radius: 50%;
  z-index: -1;
}

.hero-phone {
  width: 500px;
  overflow: hidden;
  margin-bottom: -280px;
  margin-top: -90px;
}

.home-sections {
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 100px 0 300px 0;

  position: relative;
}

.project-cards-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.overlay {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 15px;
  position: absolute;
  width: 80vw;
  height: 250px;
}

.project-cards {
  width: 80vw;
  height: 250px;
  border-radius: 15px;
}

.project-cards-text {
  position: absolute;
  color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.project-cards-text h3 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.project-cards-text p {
  font-size: 15px;
  letter-spacing: 5px;
}

.project-card-web {
  background-image: url(/src/assets/home/mobile/image-web-design.jpg);
  background-size: cover;
}
.project-card-app {
  background-image: url(/src/assets/home/mobile/image-app-design.jpg);
  background-size: cover;
}
.project-card-graphic {
  background-image: url(/src/assets/home/mobile/image-graphic-design.jpg);
  background-size: cover;
}

.project-cards-link-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.desc-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.desc-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80vw;

  text-align: center;
}

.desc-card-container div {
  position: relative;
}

.desc-card-img {
  position: relative;
  z-index: 1;
}

.desc-card-circle {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 202px;
  height: 202px;
}

.rotate-right {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.rotate-up {
  transform: translate(-50%, -50%) rotate(180deg);
}

.rotate-down {
  transform: translate(-50%, -50%) rotate(360deg);
}

.get-in-touch-modal {
  position: absolute;
  max-width: 327px;
  height: 329px;
  background-color: var(--peach);
  bottom: 0;
  transform: translateY(465px);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url(C:\Users\aaron\designo\src\assets\shared\mobile\bg-pattern-design-pages-intro-mobile.svg);
  background-size: cover;
}

.get-in-touch-modal-text {
  margin: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.get-in-touch-modal-text h2 {
  color: var(--white);
  font-weight: 500;
  font-size: 32px;
  margin: 0 20px;
}

.get-in-touch-modal-text p {
  color: var(--white);
  font-weight: 400;
}

.get-in-touch-button {
  width: 152px;
  height: 56px;
  border-radius: 8px;

  font-weight: 500;
  font-size: 15px;
}

.home-footer {
  background-color: var(--black);
  padding-top: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-name {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo-name p {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--white);
}

.footer-bar {
  width: 300px;
  height: 1px;
  margin-top: 30px;
  background-color: var(--white);
  opacity: 0.1;
}

.footer-links {
  color: var(--white);
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
}

.footer-address-containers {
  color: var(--white);

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-first-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0.5;
}

.footer-second-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0.5;
}

.footer-address-bold {
  font-weight: bold;
}

.footer-social-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 70px 0;
}
