* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Jost", sans-serif;
}

body {
  background-color: var(--white);
  /* width: 100vw; */
}

a:link {
  color: var(--white);
  text-decoration: none;
}
a:visited {
  color: var(--white);
  text-decoration: none;
}
a:hover {
  color: var(--white);
  text-decoration: none;
}
a:active {
  color: var(--white);
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --black: #1d1c1e;
  --dark-grey: #333136;
  --white: #ffffff;
  --light-grey: #f1f3f5;
  --peach: #e7816b;
  --light-peach: #ffad9b;
}

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 35px 24px;
}

.header img {
  cursor: pointer;
}

.header-logo-name {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo-name h1 {
  letter-spacing: 4px;
  font-size: 24px;
  color: var(--black);
}

.oval {
  background: conic-gradient(
    from 90deg at 50% 50%,
    rgba(231, 129, 107, 0.0001) 0deg,
    #e7816b 359.74deg,
    rgba(231, 129, 107, 0.0001) 360deg
  );
  transform: matrix(0, -1, -1, 0, 0, 0);

  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.menu-modal {
  background-color: var(--black);
  color: var(--white);
}

.menu-modal-nav-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 30px;
  font-size: 24px;
  letter-spacing: 2px;
}

.menu-modal-nav:hover {
  color: var(--peach);
}
